# Node.js
node_modules/
.env
.env_prod
.env_dev
npm-debug.log*

# Docker
*.log
*.pid
*.sock
*.db
docker-compose.override.yml
server/.dockerignore

# Client build
client/build/
client/.next/

# OS
.DS_Store
Thumbs.db
venv/
