# Node.js
node_modules/
.env
.env_prod
npm-debug.log*

# Docker
*.log
*.pid
*.sock
*.db
docker-compose.override.yml
server/.dockerignore
server/index.js.save

# Client build
client/build/
client/.next/
sportscardtool_service/api_tool/output/

# OS
.DS_Store
Thumbs.db
venv/
